extends base.pug

block style 
    style 
        include ../static/style.css

block content
    body
        section#services 
            div Welcome To Our Dance Website.
            div.small Eat Sleep Dance Repeat
        section#mission 
            div#missionmoto Our Mission
            section#cards
                div.card#logo1   Dance Perfection
                div.card#logo2   Perfect Perforamnce
                div.card#logo3   World Class Teachers
                div.card#logo4   Award Winning Platform
                        